@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --titletext: #ff9b01;
    --background: #272a3b;
    --text1: #fff;
    --panel: #4a506b;
}

body {
    background-color: var(--background);
    color: var(--text1);
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.title {
    text-align: center;
    color: var(--titletext);
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid var(--panel); 
}


.panel {
    background-color: var(--panel);
    padding: 10px;
}

.panel p {
    font-size: 16px;
    text-align: center;
}

samp {
    background-color: #222;
    border: 1px solid #555;
    padding-right: 3px;
    padding-left: 3px;
}

.file-upload-container {
    display: flex;
    justify-content: center;
}

.file-upload {
    padding: 10px;
    border: 2px dashed var(--panel);
    border-radius: 10px;
    background-color: var(--background);
    cursor: pointer;
    user-select: none;
    margin: 10px;
}

.file-valid {
    --valid: #53ad77;
    background-color: var(--valid);
    border: 2px solid var(--valid);
}

.file-different {
    --different: #ad9253;
    background-color: var(--different);
    border: 2px solid var(--different);
}

.file-upload input {
    display: none;
}

